useDynLib(PathScope)

export(getKEGG,
       removeUnobservedGenes,
       computeGeneNetwork,
       defineNeighborhood,
       edgeSums,
       assignEdgeWeights,
       samplePaths,
       scope,
       SBML2igraph,
       readSBML,
       makeIgraph,
       makeReactionNetwork,
       makeReactionSubstrateNetwork,
       makeGeneNetwork,
       computeMaxCorrelation,
       correlateExpression,
       getProbeInfo,
       computeMaxReactionCorrelations,
       defineReactionNeighborhood,
       plotScopeMST,
       plotCompoundMST,
       plotCompoundScopeTree,
       plotEnrichmentScore,
       enrichmentScore)
